// Variables

// Colours
$vanilla: #ffefbc;
$green: #2EC4B6;
$brown: #473144;
$cherry: #D81E5B;
$lightcherry: #E8868E;
$background: #FFFBFB;
$white: #fff;
$greylightest: #f3f4f5;
$greylight: #E9E8E6;
$gray: #979797;
$darkgray: #272727;
$darkred: #ff9284;
$lightred: #ffcdc6;

$yellow: #ffff53;
$blue: #4321ea;
$primary: $darkgray;

.c-blue {
  color: $blue;
}

// Layout
$maxWidth: 90%;

//bootstrap overides
$enable-rounded: false;
