version: 2
jobs:
  build:
    working_directory: ~/CherrySwap
    docker:
      - image: circleci/python:3-node
    steps: 
      - checkout 
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn install
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules
      - run:
          name: test solidity smart contracts
          command: yarn run contracts:test-ci
      #- run:
      #    name: code-coverage
      #    command: './node_modules/.bin/nyc report --reporter=text-lcov'
      - store_artifacts:
          path: test-results.xml
          prefix: tests
      - store_artifacts: 
          path: coverage
          prefix: coverage
      - store_test_results:
          path: test-results.xml